{% extends '_base.html' %}
{% block title %}Contact Us{% endblock %}
{% block content %}
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='_contact_us_style.css')}}">
    </head>

    <body>
        <main>

            <h1>Contact Us!</h1>

            <p>If you have any questions or comments, please feel free to contact us at:</p>
            <p class='email'>wholisticreview@gmail.com</p>
            <p>Or</p>
            <p>DM us at any of our social media links below!</p>
        </main>
    </body>
{% endblock %}
